{# templates/partials/nav_macros.html.twig #} {% macro dropdown_items(parent,
depth) %} {% import _self as nav %}

<ul class="min-w-[220px] bg-white shadow-lg rounded-b-xl">
  {% for page in parent.children.visible %} {% set has_children =
  page.children.visible|length > 0 %}

  <li class="relative">
    <a
      {% if not has_children %}href="{{ page.url }}"{% endif %}
      data-nav-link="dropdown"
      class="block cursor-pointer px-5 py-3 text-sm text-neutral-800 
                transition-colors duration-150
                hover:bg-orange-500 hover:text-neutral-100 {{
        loop.last ? 'hover:rounded-b-xl' : ''
      }}
                {{ has_children ? 'peer' : '' }}"
    >
      {{ page.menu }}
    </a>


    {% if has_children %}
    <div
      data-nav-subpanel
      class="pointer-events-none opacity-0 transition-opacity duration-200 absolute left-full top-0 peer-hover:opacity-100 peer-hover:pointer-events-auto hover:opacity-100 hover:pointer-events-auto"
    >
      {{ nav.dropdown_items(page, depth + 1) }}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}
